# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node.js
node_modules/
dist/
.DS_Store
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

# ML Models & Large Files
*.pt
*.onnx
*.weights
uploads/
output_videos/
generated_violations/
processed_videos/

# Secrets
.env
.env.*
.idea/
.vscode/
*.swp
